{% extends 'client/base.html' %}

{% block title %}
        <title>Trang chủ</title>
        <link href="{{ url_for('static', filename='css/home.css') }}"rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="hero-container">
    <div class="content-hero">
        <div class="radio-button">
            <!-- <label>
                <input type="radio" name="displayOption" value="hide" onclick="hideDiv()"> Một chiều
            </label>

            <label>
                <input type="radio" name="displayOption" value="show" onclick="showDiv()" checked> Khử hồi
            </label> -->
        </div>

        <div class="form-input-search">
            <form id="flight-form" action="/flights" method="get">
                <div class="from-to-seat">
                    <!-- điểm đi -->
                    <div class="select-costom">
                        <label for="from">From</label><br>
                        <div>
                            <i class="fa-solid fa-plane-departure icon-costom"></i>
                            <select id="airport-from" name="from">
                                {%for airport in airports%}
                                <option value="{{airport.id}}">{{airport.locate}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                    <i class="fa-solid fa-right-left"></i>
                    <!-- điểm đến -->
                    <div class="select-costom">
                        <label for="to">To</label><br>
                        <div>
                            <i class="fa-solid fa-plane-arrival"></i>
                            <select id="airport-to" name="to">
                                {%for airport in airports%}
                                <option value="{{airport.id}}">{{airport.locate}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <!-- loại ghế -->
                    <div class="seat-select select-costom">
                        <label for="seat">Seat</label><br>
                        <div>
                            <i class="fa-solid fa-ticket"></i>
                            <select name="sc">
                                {%for seat_class in seat_classes%}
                                <option value="{{seat_class.id}}">{{seat_class.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                </div>
                <!-- điền thông tin ngày và đăt -->
                <div class="date-search">

                    <div>
                        <label for="depart">Ngày đi</label><br>
                        <div class="custom-date-input-container">
                            <input id="departure_date" type="date" name="dt">
                        </div>
                    </div>

                    <div id="myDiv" class="hidden">
                        <label for="depart">Số lượng người</label><br>
                        <div class="custom_count_ticket">
                            <input type="number" value="1" min="1">
                        </div>
                    </div>
                    
                    <button type="button" onclick="checkAirport()">tim chuyen</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- cac content -->
<div class="slider-container">
    <div class="slider">
      <div class="slide"><img src="https://images.unsplash.com/photo-1613324942930-3f2f94f0856e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 1"></div>
              <div class="slide"><img src="https://plus.unsplash.com/premium_photo-1675805015392-28fd80c551ec?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 1"></div>
              <div class="slide"><img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 1"></div>
    </div>
    <div class="dot-container"></div>
</div>
<!-- các đỉa điểm du lịch -->

<div class="TravelSpot-container">

    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>
    <div class="TravelSpot">
        <img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522581/h1_h8qrms.jpg" alt="hinh">
        <div>
            <h2>TUOR</h2>
            <p>Na Ba Hill</p>
        </div>
    </div>

</div>
<script>
    document.getElementById('departure_date').valueAsDate = new Date()

    function checkAirport(){
        locate_from = document.getElementById('airport-from').value
        locate_to = document.getElementById('airport-to').value
        console.log(locate_from, locate_to)
        if(locate_from == locate_to){
            alert('Vui long nhap dung diem den va diem di')
        }
        else{
            document.getElementById('flight-form').submit()
        }
    }
</script>
{% endblock %}

