
button:hover {
    background-color: #049afe;
}
a {
    color: #007bff;
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: #2da9fc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.margin-l-20{
    margin-left: 20px;
}

.width-100{
    width: 100%;
}
.width-90-mg-auto{
    width: 90%;
    margin: auto;
}

.font-lb-18{
    font-size: 18px;
}
select:focus{
    outline: none;

}
input:focus{
    outline: none;
}

.list{
    width: 95%;
    height: 420px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto;
    border: solid 2px gray;
}

thead th{
    position: sticky;
    top: 0;
}


table{
    /* height: 300px; */
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    /* border: 2px solid #828282; */
    padding: 8px;
    text-align: center;
    border: none;
}

tr{
    border-bottom: solid 1px gray;
}

th {
    background-color: #afafaf;
}

tbody{
    background-color: gainsboro;
}

button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}