@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,400;1,500&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Oswald', sans-serif;
}

body{
    background-image: url('https://res.cloudinary.com/dndakokcz/image/upload/v1704522582/BGLogin_igncr6.jpg');
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: rgba(255, 255, 255, 0.6);
}

label{
    color: #ffffff;
    font-weight: 500;
    font-size: 21px;
}

.select-costom div select, option{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
}

.hero-container{
    width: 100%;
    height: 650px;
    background-image: url('https://res.cloudinary.com/dndakokcz/image/upload/v1704522583/BGhero_avhdvp.png');
    background-size: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.hero-container .content-hero{
    width: 100%;
    height: 245px;
    background: rgba(0, 0, 0, 0.1);
    margin-top: auto;
    opacity: 30px;
    backdrop-filter:blur(4px);
}

.content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .radio-button{
    width: 1340px;
    height: 20px;
}

div .form-input-search{
    width: 1340px;
    height: 170px;
    margin: 5px;
    /* background-color: rgb(255, 68, 0); */
}

.from-to-seat, .date-search{
    display: flex;
    width: 100%;
    height: 85px;
    /* background-color: #fff; */
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.select-costom div{
    width: auto;
    height: 45px;
    padding: 0 16px;
    background-color: rgb(255, 255, 255);
    border: solid 4px #0094FF;
    border-radius: 10px;
    position: relative;
}

.custom_count_ticket input{
    background-color: white;
    height: 45px;
    width: 220px;
    color: rgb(0, 0, 0);
    border: solid 4px #0094FF;
    border-radius: 10px;
    font-size: 21px;
    padding-left: 12px;
    /* text-align: center; */
}


.select-costom div select{
    /* position: absolute; */
    line-height: 45px;
    border: none;
    outline: none;
    width: 334px;
}

/* costom icon */

.fa-solid{
    color: #033E8C;
}

.select-costom div i{
    margin-right: 4px;
    font-size: 21px;
    line-height: 45px;
}

.fa-right-left{
    color: #ffffff;
    font-size: 40px;
    margin-top: 32px;
}
/*  */
.seat-select{
    width: 300px;
}

.seat-select div select{
    width: 220px;
}

/* môt chiều và khử hồi */

.radio-button label{
    color: #000000;
    position: relative;
    padding: 7px 12px;
    border-radius: 30px;
    cursor: pointer;
    line-height: 40px;
    background-color: #ffffff;
    border: solid 3px black;
}

.custom-date-input-container {
    position: relative;
    width: 280px;
}

/* Style for the custom date input */
.custom-date-input-container input[type="date"] {
    width: 100%;
    height: 25px;
    padding: 10px; /* Adjust padding based on your design */
    border: solid 4px #0094FF;
    border-radius: 10px;
    appearance: none; 
    outline: none;
    font-size: 21px;
    cursor: pointer;
}

/* Style for the calendar icon */
.custom-date-input-container::after {
    content: '\1F4C5'; /* Unicode character for a calendar icon */
    font-size: 21px; /* Adjust the font size */
    color: #333; /* Adjust the color of the icon */
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
}


.date-search button{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 500;
    width: 200px;
    line-height: 70px;
    text-align: center;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    background-color: #006be5;
    border: solid 5px #0065BB;
    line-height: 70px;
}

.date-search a:hover{
    color: rgb(255, 255, 255);
    background-color: #0094FF;

}

/* slider content */
.slider-container {
    position: relative;
    width: 1340px;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 15px auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
}

  /* các đỉa điểm du lịch */
.TravelSpot-container{
    margin: auto;
    width: 1340px;
    min-height: 300px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 350px;
}

.TravelSpot{
    width: 250px;
    height: 370px;
    background-color: #006be5;
    position: relative;
    display: flex;
}

.TravelSpot img{    
    object-fit: cover;
}

.TravelSpot div{
    width: 100%;
    height: 70px;
    padding-top: 60px;
    /* background-color: #000000; */
    position: absolute;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 20px;
    overflow: hidden;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgb(0, 0, 0));
}

.TravelSpot div h2{
    color: #ffffff;
}

.TravelSpot div p{
    color: #ffffff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}