@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto+Condensed:wght@200;300;400;500;600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,400;1,500&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    background-blend-mode: color-burn;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('https://res.cloudinary.com/dndakokcz/image/upload/v1704522582/BGLogin_igncr6.jpg');
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 8px;
    visibility: visible;
}

body::-webkit-scrollbar{
    width: 8px;
    background-color: var(--backgr-content);
}


body::-webkit-scrollbar-thumb{
    background-color: rgb(115, 115, 115);
    border-radius: 5px;
    width: 5px;
}

/* form nhập lại tuyến */

.form-search{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* display: flex; */
}

.form-costome{
    width: 80%;
    height: 500px;
    /* background-color: #035AA6; */
    background: linear-gradient(to bottom, #035AA6, #3498db);
    margin: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-costome form{
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

.costome-select-flight{
    width: 75%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
}

#select-flight{
    text-align: center;
    width: 276px;
    border: none;
    outline: none;
    /* padding: 20px; */
    font-size: 25px;
    border-bottom: solid 2px black;
}

.costome_typeOf_ticket{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.costome_items{
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: 60px;
    margin: auto 10px;
}

.costome_count_ticket input[type="date"]{
    font-size: 20px;
    background-color: #fdfdfd;
    border-radius: 10px;
    width: auto;
    height: 40px;
    margin: auto 10px;
    padding: 10px;
    outline: none;

}


.costome_count_ticket{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    /* background-color: #ffffff;
    border-radius: 5px;
    padding: 15px; */
}

.costome_count_ticket input[type="number"]{
    font-size: 25px;
    width: 250px;
    height: 60px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: solid 2px black;
}

#hideButton{
    width: 96px;
    height: 37px;
    background-color: gainsboro;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    position: absolute;
    right: 200px;
}

.form-costome a{
    color: white;
    width: 180px;
    height: 37px;
    background-color: #009cda;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    position: absolute;
    right: 300px;
    text-align: center;
    line-height: 40px;
}

.form-costome a:hover{
    background-color: #05AFF2;
}
    
.booking-form{
    /* display: none; */
    color: #000000;
    position: absolute;
    width: 1240px;
    height: 311px;
    background-color: #035AA6;
    border-radius: 30px;
    overflow: hidden;
    margin: 100px auto auto;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

canvas{
    z-index: 1;
}

.from-to-content{
    position: absolute;
    width: 790px;
    height: 85px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    top: 17px;
    left: calc(50% - (790px/2));
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
    box-shadow: 3px 3px 4px rgba(32, 32, 32, 0.4);
}

.from-to-content h1{
    color: black;
    line-height: 50px;
    font-size: 35px;
}

.filter-content{
    position: absolute;
    width: 1141px;
    height: 110px;
    /* border-radius: 20px; */
    /* background-color: rgb(255, 0, 0); */
    bottom: 50px;
    left: calc(50% - (1141px/2));
    display: flex;
    justify-content: space-between;

}

.filter-content div{
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(32, 32, 32, 0.4);
}

.filter-content div label{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}

.filter-content div select{
    width: 180px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
}

.filter-content div button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-content div button:hover{
    background-color: rgb(171, 171, 171);
}

.filter-content div button p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300px;
    color: #717171;
}

.list-search{
    /* position: absolute; */
    width: 1141px;
    height: 55px;
    /* background-color: rgb(0, 225, 255); */
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.list-search p{
    line-height: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    cursor: default;
}

.list-search button{
    background-color: rgb(211, 211, 211);
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    font-size: 20px;
    width: 220px;
    cursor: pointer;
}

.list-search button i{
    line-height: 55px;
    margin-left: 7px;
}

.list-search button:hover{
    background-color: #bcbcbc;
}

 /* danh sách */
.list-ticket-order{
    width: 1240px;
    min-height: 700px;
    max-height: 1000px;
    margin: auto auto 100px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}

.item{
    background-color: #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.list-ticket-order p{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
    position: relative;
}

.list{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item{
    width: 94%;
    height: 153px;
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
}

.airline-price{
    margin-top: 8px;
    width: 100%;
    height: 50px;
    /* background-color: rgb(255, 0, 43); */
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.airline-price img{
    width: 50px;
    border-radius: 50%;
}

/* .costome_img {
    margin: 4px;
    width: 100px;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    background-color: #ff1500;
}

.costome_img img{
    width: 100%;
      height: auto;
      display: block;
} */

.airline-price h3{
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.airline-price p{
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    font-weight: 500;
    color: black;
}

.info-ticket{
    width: 100%;
    height: 100px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 24%;
    height: auto;
    /* background-color: red; */
}

.info p{
    color: #131313;
    text-align: start;
    font-size: 20px;
}

.info-ticket h3{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 600;
    color: black;
}

.info-ticket button{
    width: 20%;
    height: 60px;
    margin-left: 25px;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 11px;
    background-color: #005FA6;
    transition: all 0.3s ease-in;
}

.info-ticket button:hover{
    background-color: #003760;
    cursor: pointer;
}

.columnSeparator {
    border-left: 2px solid #4f4f4f;
}

.oder-ticket{
    width: 39%;
    padding-bottom: 10px;
    height: 700px;
    background-color: #BFE3FF;
    border-radius: 24px;
    position: relative;
    display:flex;
    flex-direction: column;
}

.oder-ticket h3{
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #005FA6;
    color: rgb(255, 255, 255);
}

.oder-ticket h4{
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 35px;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
}

.oder-ticket p{
    width: 100%;
    height: 27px;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color:#717171;
}

.oder-ticket hr{
    background-color: #4f4f4f;
    width: 89%;
    margin: auto;
    border: 1px solid #181818;
}


.oder-ticket .cos tom-total{
    background-color: initial;
}

.costom-total p{
    width: 30%;
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    text-align: end;
    color: #000000;
    font-weight: 600;
}

.oder-ticket button{
    width: 180px;
    height: 50px;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: 500;
    border-radius: 14px;
    background-color: #F62222;
    color: #ffffff;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 12px 12px 0px;
    cursor: pointer;
}

.oder-ticket button:hover{
    background-color: #de0000;
}


.item-oder{
    padding: 0px 0x;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 153px;
    border-radius: 15px;
    background-color: rgb(234, 234, 234);
    justify-content: space-between;
    padding: 0 10px;

}

.item-oder-lb{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;

}

.item-oder-lb img {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 30px;
    border-radius: 50%;
}

.item-oder-lb h4{
    left: 40px;
    position: absolute;
    left: 40px;
    background-color: transparent;
    color: #000000;
    width: auto;
    font-size: 18px;
}

.item-oder-lb p{

    position: absolute;
    left: 70px;
    top: 5px;
    color: black;;

    font-size: 17px;


}

.item-oder-lb btn{
    position: absolute;
    right: -14px;
    top: -12px;
    font-size: 17px;
    color: #554545;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.item-oder-if-flight p{
    font-size: 14px;
    text-align: left;
}

.item-oder-if{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-oder-if h2{
    font-size: 16px;
}

.item-oder-if h3{
    font-size: 28px;
    background-color: transparent;
    color: #000000;
}

.item-oder-if-flight-footer-quantity{
    display: flex;

}

.item-oder-if-flight-footer-quantity label{
    font-size: 14px;
    color: #717171;

}
.item-oder-if-flight-footer-quantity{
    border: none;
    outline: none;
}
.costom-total-ticket{
    width: 100%;
    bottom: 0;
    display:flex;
    justify-content: space-between;
}
.costom-total-ticket label{
    font-size: 18px;
    font-weight: 700;
}
.costom-total-ticket p{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.flight-item{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    height: 170px;
    background-color: rgb(209, 209, 209);
    position: relative;
    margin-top: 14px;
}

.company-logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.flight-item > button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    line-height: 100%;
    font-size: 18px;
    padding: 5px 8px;
    background-color: rgb(249, 50, 0);
    height: 30px;
    width: 30px;
    margin: 0px -2px 0px 0px;
    transition: all 0.3s ease-out;
}

.flight-item button:hover{
    cursor: pointer;
    background-color: rgb(250, 125, 0);
}

.flight-item button > i{
    cursor: pointer;
}
.titleDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(172, 172, 172);
    border-radius: 15px;
    height: 58px;
}

.titleDiv > h2{
    padding: 0px 4px;
}

.big-div{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.date-div{
    text-align: center;
    margin-right: 24px;
    height: 50px;
}

.date-div p:first-child{
    height: 30px;
    font-weight: 700;
    font-size: 24px;
    font-style: initial;
}

.date-div p:last-child{
    font-size: 18px;
    font-style: initial;
    font-weight: 600;
    height: 40px
}

#price-p{
    padding: 12px;
    font-weight: 600;
    font-style: italic;
    border-radius: 4px;
    width: 145px;
}

.quantityOpt{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    margin: 0px 16px 6px 0px;
}

.quantityOpt > input{
    height: 20px;
    margin-left: 4px;
    border-radius: 4px;
    text-align: center;
    width:40px;
}

#parentDiv{
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

#parentDiv::-webkit-scrollbar{
    width: 8px;
    visibility: visible;
}

#parentDiv::-webkit-scrollbar{
    width: 8px;
    background-color: var(--backgr-content);
}


#parentDiv::-webkit-scrollbar-thumb{
    background-color: rgb(115, 115, 115);
    border-radius: 5px;
    width: 5px;
}

#parentDiv > div > p{
    padding: 200px 0px;
}

.ticket-title{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
}

.ticket-title > h4 {
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}

.price-box{
    width: 100%;
    height: 70px;
    text-align: center;
}

.price-box > p{
    line-height: 70px;
}

.price-box > p > a{
    cursor: pointer;
    color: #000;
    background-color: red;
    border-radius: 5px;
    padding: 2px;
    transition: all 1s ease-out;
}

.price-box > p >a:hover{
    background-color: rgb(255, 74, 74);
}

.btn-success{
    transition: all 0.3s ease-out;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
}