@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/image/BGLogin.jpg');
    background-size: cover;
}

.profile-container {
    top: 105px;
    width: 80%;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 100px auto;
}

.profile-info {
    flex: 1;
    text-align: left;
}

.profile-info h2{
    /* line-height: 50px; */
    margin-bottom: 10px;
}

.profile-info table{
    background-color: rgba(255, 255, 255, 0.7);
}


h1 {
    color: #000000;
    text-align: center;
}

img {
    width: 200px; /* Kích thước cố định cho hình đại diện */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.avatar-container {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.avatar-container img {
    display: block;
    margin: 0 auto;

}

.avatar-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-top: 10px;
}

.avata{
    margin-top: 75px;
}

.upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    display: none;
    cursor: pointer;
}

.upload-text:hover {
    text-decoration: underline;
}

.upload-input {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-button {
    /* position: relative; */
    left: 97.5%;
    padding: 10px 20px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049;
}

.edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    height: 75%;
    overflow: auto;
    margin-top: 100px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #45a049;
}

/* Thêm thanh cuộn cho danh sách giao dịch */
.list-transaction{
    width: auto;
    max-height: 200px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.7);
}