<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/dd307a4d09.js" crossorigin="anonymous"></script>
</head>
<body>
<header id="navbar">
    <div class="costom-navbar">
        <div class="logo-header"><a href="/"><img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="logo"
                                                  id="logo"></a></div>
        <div class="navigation-header">
            <a href="/ticket">Đặt vé</a>
            <a href="#">Trợ giúp</a>
            <a href="#">About us</a>
        </div>
        {% if current_user.is_authenticated%}
        <div class="bt-login-register-logout">
            <a href="/user/user_profile"><img src="{{ url_for('static', filename='image/avata.png') }}" id="avatar"
                                              alt="avatar"></a>
            <a href="/user/logout">Log out</a>
        </div>
        {%else%}
        <div class="bt-login-register-logout">
            <a href="/user/register">Sign up</a>
            <a href="/user/login">Login</a>
        </div>
        {% endif%}


    </div>
</header>

{% block content %}

{% endblock %}

<!-- nội dùng cuối -->
<!-- nội dung footer -->
<footer>
    <p>&copy; Copyright 2024 Bai Tap Lon. All rights reserved.</p>
</footer>

<script src="{{ url_for('static', filename='javascript/javascript.js') }}"></script>
</body>
</html>