<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="OU-icon" href="https://res.cloudinary.com/dndakokcz/image/upload/v1704522582/LOGO_l4zgkg.png">
    {% block title %}
    <title></title>
    {% endblock %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/dd307a4d09.js" crossorigin="anonymous"></script>
</head>
<body>
<header id="navbar">
    <div class="costom-navbar">
        <div class="logo-header"><a href="/"><img src="https://res.cloudinary.com/dndakokcz/image/upload/v1704522582/LOGO_l4zgkg.png" alt="logo"
                                                  id="logo"></a></div>
        <div class="navigation-header">
            <a href="/">Đặt vé</a>
            <a href="/">Trợ giúp</a>
            <a href="/">Về chúng tôi</a>
        </div>
        {% if current_user.is_authenticated%}
        <div class="bt-login-register-logout">
            <a href="/user/user_profile"><img src="{{current_user.avatar}}" id="avatar"
                                              alt="avatar"></a>
            <a href="/user/logout">Đăng xuất</a>
        </div>
        {%else%}
        <div class="bt-login-register-logout">
            <a href="/user/register">Đăng ký</a>
            <a href="/user/login">Đăng nhập</a>
        </div>
        {% endif%}


    </div>
</header>

{% block content %}

{% endblock %}

<!-- nội dùng cuối -->
<!-- nội dung footer -->
<footer>
    <p>&copy; Copyright 2024 Bai Tap Lon. All rights reserved.</p>
</footer>

<script src="{{ url_for('static', filename='javascript/javascript.js') }}"></script>
</body>
</html>