<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thông tin vé</title>
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/base.css">

<!-- font -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <div class="login-container" >
        <h1>THÔNG TIN VÉ</h1>

    
            <div class="label-ticket">
                <div class="label-ou">
                    <img class="label-ou-logo" src="./img/LOGO2.png" alt="logo">
                    <label class="label-ou-name">AIRPORT</label>
                </div>
                <h2 class="label-type-ticket">Thương Gia</h2>
                <div>
                    <div class="label-ou">
                        <img class="label-ou-logo" src="./img/LOGO2.png" alt="logo">
                        <label class="label-ou-name">AIRPORT</label>
                    </div>
                </div>
            </div>
            <div class="info-ticket">
                <div class="ticket-detail">
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">HÃNG CHUYÊN CHỠ/CARRER</span>
                        <span class="ticket-detail-info-value">VIETNAM AIRLINER</span>
                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">HỌ VÀ TÊN/NAME</span>
                        <span class="ticket-detail-info-value">TRẦN CAO NGUYÊN</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">NƠI ĐI/FROM</span>
                        <span class="ticket-detail-info-value">CATBI TAY NGUYÊN</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">NƠI ĐẾN/TO</span>
                        <span class="ticket-detail-info-value">TP. HO CHI MINH</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">GHI CHÚ</span>
                        <span class="ticket-detail-info-value">TKNE    762763174112370123</span>

                    </div>
                </div>
                <div class="ticket-detail">
                    <div class="ticket-detail-info-qr">
                        <img src="https://cf.shopee.vn/file/a5e589e8e118e937dc660f224b9a1472" alt="QR Dowload" class="ticket-detail-info-qr">
                        <span class="ticket-detail-info-qr-lb">QR CODE</span>


                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">CHUYẾN BAY/FIGHT</span>
                        <span class="ticket-detail-info-value">VN234</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">GHẾ/SEAT</span>
                        <span class="ticket-detail-info-value">16C</span>

                    </div>
                    
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">NGÀY BAY</span>
                        <span style="padding-bottom: 5px;" class="ticket-detail-info-value">8/1/2024</span>
                        
                        <span class="ticket-detail-info-title">GIỜ BAY</span>
                        <span class="ticket-detail-info-value">14:20</span>
                    </div>
                    
                </div>
                <div class="ticket-detail border-left-dashed">
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">TKNE 762763174112370123</span>
                        <span class="ticket-detail-info-value">FR: CATBI TAY NGUYÊN</span>
                        <span class="ticket-detail-info-value">TO: TP. HO CHI MINH</span>


                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">HỌ VÀ TÊN/NAME</span>
                        <span class="ticket-detail-info-value">TRẦN CAO NGUYÊN</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">CHUYẾN BAY/FIGHT</span>
                        <span class="ticket-detail-info-value">VN234</span>

                    </div>
                    <div class="ticket-detail-info-1">
                        <span class="ticket-detail-info-title">GHẾ/SEAT</span>
                        <span style="padding-bottom: 5px;" class="ticket-detail-info-value">16C</span>
                        <span class="ticket-detail-info-title">NGÀY BAY</span>
                        <span style="padding-bottom: 5px;" class="ticket-detail-info-value">
                            8/1/2024</span>
                        <span class="ticket-detail-info-title">GIỜ BAY</span>
                        <span class="ticket-detail-info-value">14:20</span>

                    </div>
                </div>

                    
                
            </div>
            <div class="footer-ticket">
                <div class="footer-ou">
                    <img class="footer-ou-logo" src="./img/LOGO2.png" alt="logo">
                    <label class="footer-ou-name">AIRPORT</label>
                </div>
                <h5 class="footer-name-ticket">THẺ LÊN MÁY BAY</h5>
                <div>
                    <div class="footer-ou">
                        <img class="footer-ou-logo" src="./img/LOGO2.png" alt="logo">
                        <label class="footer-ou-name">AIRPORT</label>
                    </div>
                </div>
            </div>

                
    </div>
            
    
    <footer>
        Phần mềm quản lý chuyến bay © 2024 Code bởi MEN TEAM
    </footer>
</div>
<script src="main.js"></script>
</body>
</html>
