{% extends 'admin/master.html' %}

{% block body %}


{% if current_user.is_authenticated %}
    <h1 class="text-center text-info">CHÀO MỪNG ĐẾN TRANG THỐNG KÊ</h1>
    <div class="test">
        <div style="width: 100%; height: 60px">
            <form action="" style="width: 60%; display: flex; align-items: center">
                <label for="month" style="margin-top: 8px;">Nhập tháng:
                    <input type="number" id="month" name="month">
                </label>
                <button id="submit-btn" style="height: 40px; width: 130px; margin-left: 10px">Thống kê</button>
            </form>
        </div>
        <div>
            <canvas id="myChart" style="width: 100% ; height: 500px"></canvas>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function() {
  const ctx = document.getElementById('myChart');

  let data = [];
  let labels = [];

  {% for s in stats %}
  labels.push('{{s[1]}}')
  data.push({{s[2]}});
  {% endfor %}

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Doanh Thu',
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
}
</script>
{% else %}
<h1>Khong co phan su </h1>
{% endif %}
{% endblock %}